@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Quicksand:wght@300..700&display=swap');

body {
    font-family: 'Edu TAS Beginner', 'Quicksand', sans-serif;
    text-align: center;
}
.card {
    background-color: rgba(239, 164, 29, 0.69);
    padding: 10px;
    transition: background-color 0.3s;
    display:inline-grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
    margin-top:20px;
}
.cardDescription{
    margin-left: 20px;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: url("back.png");
    background-size: 100% auto; 
    background-repeat: repeat-y;
    background-position: top center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
button {
    font-family: 'Edu TAS Beginner', 'Quicksand', sans-serif;
    background-color: #e16c17;
    color: white;
    padding: 10px 10px;
    font-size: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #ff5b14;
}
button {
    font-size: 15px;
    padding: 10px;
    margin-top:10px;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid rgba(246, 140, 34, 0.97);
    background-color: #FFA500;
}
.logo{
    width: 100px;
}
.logo img{
    width: 150px;
    height: 50px;
    object-fit: cover;
    border: none;
}
.loader-container {
    width: 100px;
    height: 100px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.logo img {
    height: 50px;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background 0.3s;
}

nav a:hover {
    background: #ddd;
    border: 1px solid #ccc;
    color: #000;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #FFA500;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.logo img {
    height: 50px;
}

nav {
    display: flex;
    gap: 1rem;
}
.card:hover {
    background-color: rgba(239, 164, 29, 0.85);
}
.card {
    background-color: rgba(239, 164, 29, 0.69);
    padding: 10px;
    transition: background-color 0.3s;
    display: inline-block;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.card:hover {
    background-color: rgba(239, 164, 29, 0.85);
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 0;
}

.card h2 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
    color: #333;
}

.card p {
    font-size: 0.9em;
    margin: 0 0 10px 0;
    color: #777;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.card {
    background-color: rgba(239, 164, 29, 0.69);
    padding: 10px;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transform: scale(1);
}

.card:hover {
    background-color: rgba(239, 164, 29, 0.85);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
gap: 20px;
justify-items: center;
padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}
.pokemon-detail {
    background-color: rgba(239, 164, 29, 0.69);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #ffa500;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ffa500;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.not-found-container, .no-pokemon-container {
    border: 2px solid #ffa500;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Edu TAS Beginner', 'Quicksand', sans-serif;
    background-color: rgba(220, 69, 49, 0.69);
    border: 2px solid #ffa500;
    border-radius: 10px;
}
